# Hardhat specific
cache/
artifacts/
*.log
.openzeppelin/

# Node modules & dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables & secrets
.env
.env.*
.DS_Store
